.formulario {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.formulario h1 {
  text-align: center;
}

.formulario label {
  font-weight: 500;
}

.formulario input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.formulario .linha {
  display: flex;
  gap: 1rem;
}

.formulario .linha > div {
  flex: 1;
}

.formulario button {
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.formulario button:hover {
  background-color: #45A049;
}


#successMessage {
  text-align: center;
  color: green;
  font-weight: bold;
}